*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    height: 80vh;
    overflow: hidden;
    background: blueviolet;
    background-image: linear-gradient(rgb(193, 226, 244), rgb(166, 147, 111), grey);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(242, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 350px;
    width: 500px;
    perspective: 500px;
}
.card{
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}
.container:hover > .card{
    cursor: pointer;
    transform: rotateY(180deg);
}
.front, 
.back{
    border-radius: 2rem;
    box-shadow:0 0 5px 2 rgb(244, 171, 37);
    position: absolute;
    backface-visibility: hidden;
    transform: rotate3d();
}
.front{
    max-width: 100px;
    max-height: 100px;
    max-block-size: 300px;
    display: flex;
    justify-content: center;
    border-radius: 20px;

}
.back{
    height: 300px;
    width: 300px;
    background-color: rgb(212, 234, 210);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
